## Nubank AE Case - Parse JSON investment file

**This notebook aims to:**

* Iterate file rows to parse JSON columns;
* Generate the CSV file to write the table [dbo].[raw_investments] in Azure SQL database.

### Imports

In [1]:
import pandas as pd
import json

### Paths and Files name

In [2]:
file_path = "D:/MyFolder/Nubank/Case/Tables/investments/"

file_name_read = "investments_json.txt"
file_path_read = file_path+file_name_read

file_name_write = "investments.csv"
file_path_write = file_path+file_name_write

### Parse JSON file

In [3]:
# Opening JSON file

f = open(file_path_read)
 
# returns JSON object as
# a dictionary
data = json.load(f)
 
##Closing file
f.close()

d = []

for i in data:
    for j in i['transactions']:
        d.append({
            'account_id':i['account_id'],
            'transaction_id':j['transaction_id'],
            'status':j['status'],
            'amount':j['amount'],
            'investment_requested_at':j['investment_requested_at'],
            'investment_completed_at':j['investment_completed_at'],
            'investment_completed_at_timestamp':j['investment_completed_at_timestamp'],
            'type':j['type'] 
        })

df = pd.DataFrame(d)

### Preview

In [4]:
df.head()

,account_id,transaction_id,status,amount,investment_requested_at,investment_completed_at,investment_completed_at_timestamp,type
0,623509224135263,832358148869144320,completed,499.66,1600787895,1600787897,2020-09-22T15:18:17.000000000,investment_transfer_in
1,623509224135263,1329504940934229248,completed,876.47,1591183247,1591183255,2020-06-03T11:20:55.000000000,investment_transfer_in
2,623509224135263,1819638848337891584,completed,1463.14,1582614975,1582614991,2020-02-25T07:16:31.000000000,investment_transfer_in
3,623509224135263,2239147940568222976,completed,528.28,1592386421,1592386427,2020-06-17T09:33:47.000000000,investment_transfer_in
4,623509224135263,1755283541337998080,completed,859.8,1579433811,1579433816,2020-01-19T11:36:56.000000000,investment_transfer_in

### Write CSV file

In [5]:
df.to_csv(file_path_write, index=False)